body {
    background-color: rgb(228, 183, 183);
}

.main {
    padding: 30px;
    margin: 50px auto;
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    border-radius: 10px;
}

.main h1 {
    font-size: 25px;
    text-align: center;
}
